/* Reset some default styles to ensure consistency across browsers */
body, h1, h2, p, ul, ol {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background-color: #007acc;
    color: #fff;
    text-align: center;
    padding: 20px;
}

header h1 {
    font-size: 36px;
}

header p {
    font-size: 18px;
}

section {
    background-color: #fff;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

ul, ol {
    margin-left: 20px;
}

footer {
    background-color: #007acc;
    color: #fff;
    text-align: center;
    padding: 10px;
}

/* Add additional styles or overrides as needed */
/* Styles for the menu button */
#menu-button {
    display: none; /* Initially hidden on larger screens */
    background-color: #007acc;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

/* Styles for the navigation menu */
#nav-menu {
    display: flex;
    justify-content: center;
}

#nav-menu ul {
    list-style-type: none;
    display: flex;
}

#nav-menu li {
    margin-right: 20px;
}

/* Media query for responsive design */
@media screen and (max-width: 768px) {
    /* Show the menu button and hide the navigation menu */
    #menu-button {
        display: block;
    }

    #nav-menu {
        display: none;
    }

    /* Show the navigation menu when the button is clicked */
    #nav-menu.show-menu {
        display: flex;
        flex-direction: column;
        background-color: #007acc;
        position: absolute;
        top: 60px; /* Adjust this value to position the menu correctly */
        right: 20px;
        padding: 10px;
        border-radius: 5px;
        z-index: 1;
    }
}
